asgiref==3.5.0
autopep8==1.6.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
cffi==1.15.0
Django==3.2
django-bootstrap-v5==1.0.8
django-crispy-forms==1.14.0
django-environ==0.8.1
importlib-metadata==3.10.1
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pycparser==2.21
pytz==2021.3
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
toml==0.10.2
zipp==3.7.0
